body {
    background-color: #fceff0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 150px 1fr 15px;
    grid-template-columns: 500px 1fr ;
    grid-template-areas:
    'topo topo'
    'menu conteudo'
    'rodape rodape';
}

* {
    margin: 0;
    padding: 0;
}

header {
    grid-area: topo;
    background-color: #9b1829;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.icone{
    visibility: hidden;
}

nav {
    grid-area: menu;
    background-color: #fceff0;
    border-right: #9b1829 solid 1px;
    display: flex;
    align-items: center;
}

div{
    padding: 20px;
    margin: 10px;
}

main {
    grid-area: conteudo;
    background-color: #fceff0;
    display: inline-block;
    margin-top: 50px;
    margin-left: 170px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

footer {
    grid-area: rodape;
    background-color: #9b1829;
}

.hide {
}

@media(max-width: 800px) {
    .hide {
        display: none;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
        'topo'
        'conteudo'
        'rodape';
    }
    nav {
        display: none;
        grid-area: conteudo; /* nav toma o lugar do main */
        flex-direction: column;
    }
    nav.show {
        display: flex;
    }
    main.hide {
        display: none;
    }
    main{
        align-items: center;
        margin: auto;
        max-width: 450px;
        width: 100%;
    }
    header{
        padding: 5px;
    }
    .icone{
        visibility: visible;
        font-size: large;
    }
    .font2{
        font-size: 24px !important;
    }
}

@font-face {
    font-family: 'helveti93';
    src: url('fonts/Helvetica\ Neue\ LT\ Std\ 93\ Black\ Extended.otf') format('truetype');
}

@font-face {
    font-family: 'helveti53';
    src: url('fonts/Helvetica\ Neue\ LT\ Std\ 53\ Extended.otf') format('truetype');
}

.font1{
    font-family: "helveti53", sans-serif;
    color: #fceff0;
    cursor: default;
}

.font2{
    font-family: "helveti93", sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #fceff0;
    cursor: default;
}

img{
    width: 600px;
    height: 300px;
    border-radius: 5px;
}

.text{
    position: absolute;
    font-family: "helveti53", sans-serif;
    color:#fceff0;
    z-index: 5;
    max-width: 550px;
    padding-top: 110px;
    padding-left: 15px;
}

a:link, a:visited{
    color: #9b1829;
    text-decoration: none;
}

a:hover {
    color: #9b1829bf;
    cursor: pointer;
}

a:active{
    color: #9b182955;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fceff0;
}

::-webkit-scrollbar-thumb {
    background: #9b1829fa;
    border-radius: 6px;
    border: #fceff0 solid 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9b182992;
}