* {
  margin: 0;
  padding: 0;
}

.body_fase1 {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 225px 1fr;
      grid-template-columns: 225px 1fr;
      grid-template-areas: 'info jogo';
  background-image: url(/prova2/img/background.png);
  background-size: cover;
}

.body_fase2 {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 225px 1fr;
      grid-template-columns: 225px 1fr;
      grid-template-areas: 'info jogo';
  background-image: url(/prova2/img/background2.jpg);
  background-size: cover;
}

aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  z-index: 1;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jogo;
  position: relative;
  height: 100vh;
  z-index: 2;
}

.div-info {
  height: 30%;
  width: 100%;
  margin: 5px;
  -webkit-box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
          box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.icons {
  height: 50px;
  width: 50px;
}

.tela_pause {
  background-color: rgba(128, 128, 128, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
}

.tela_derrota {
  background-color: rgba(158, 5, 5, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
  font-size: 4rem;
  font-weight: bold;
}

.tela_vitoria {
  background-color: rgba(14, 114, 1, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
  font-size: 4rem;
  font-weight: bold;
}

.estilo-nave {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100px;
  -webkit-transition: left 0.1s;
  transition: left 0.1s;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.estilo_missilD,
.estilo_missilE {
  position: absolute;
  width: 20px;
  height: 90px;
  bottom: 30px;
  -webkit-transition: left 0.1s;
  transition: left 0.1s;
}

.estilo_missilD {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

.estilo_missilE {
  -webkit-transform: translateX(-27px);
          transform: translateX(-27px);
}

@-webkit-keyframes disparo {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 100vh;
  }
}

@keyframes disparo {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 100vh;
  }
}

.disparar {
  -webkit-animation: disparo 0.8s linear forwards;
          animation: disparo 0.8s linear forwards;
}

.container_nave {
  height: 150px;
  width: 84vw;
}

@-webkit-keyframes movimentoAlien {
  0% {
    top: -7%;
  }
  100% {
    top: 90%;
  }
}

@keyframes movimentoAlien {
  0% {
    top: -7%;
  }
  100% {
    top: 90%;
  }
}

.estilo_alien1 {
  width: 150px;
  height: 75px;
  position: absolute;
  -webkit-animation: movimentoAlien 15s linear infinite;
          animation: movimentoAlien 15s linear infinite;
  top: -7%;
}

.estilo_alien2 {
  width: 150px;
  height: 75px;
  position: absolute;
  -webkit-animation: movimentoAlien 11.25s linear infinite;
          animation: movimentoAlien 11.25s linear infinite;
  top: -7%;
}

.pausar {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}
/*# sourceMappingURL=styles.css.map */